<html>
  <head>
    <title>CourseZilla</title>
  </head>

<div>
   <body style="background:url(http://i.imgur.com/VxPDCqc.jpg) no-repeat; background-size:cover ">

     <div class="row">
      <div class="hero-unit span7 center-box ">
        <% provide(:title, 'Home') %>
        <h2><span class="color-red">T</span>hought<span class="color-blue">D</span>og
        <BR/>

        <br/>
        <%= link_to "Sign up now!", signup_path,
                                    class: "btn btn-large signup-btn" %>
      </div>
     </body> 
    </div>
  </div>
</html>