<footer class="footer">
  <small>
    A <a href="http://courseworks.columbia.edu/">CourseWorks</a> imitator
    by Nathan Hayes-Roth
  </small>
  <nav>
    <ul>
      <a href="http://linkedin.com/in/nathanhayesroth/">LinkedIn</a>
      <a href="https://github.com/nhayes-roth">Github</a>
    </ul>
  </nav>
</footer>